.skills-section {
    display: flex;
    justify-content: space-around;
    margin-top: -700px;
    background-color: #FFF;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #DDD;
    border-radius: 10px;
}
  
.skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 60px;
}
  
.central {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.skills-title {
    color: #232a5c;
    font-size: 20px;
}
  
.skills-img {
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #3f51b3;
    border-left: 1px solid #3f51b3;
    border-bottom: 4px solid #222C62;
    border-right: 4px solid #222C62;
}
  
.skills-container .subtitle {
    font-weight: bold;
    color: #232a5c;
    margin-top: 50px;
    margin-bottom: 15px;;
}
  
.skills-container p {
    line-height: 25px
}