@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap%27');

html {
    scroll-behavior: smooth;
    margin: 0;
    font-family: Lato, sans-serif;
}
h2 {
    font-size: 30px;
}

#sessao1:nth-of-type(1) {
    height: 100vh;
}
#sessao2:nth-of-type(2) {
    height: 100vh;
}
#sessao3:nth-of-type(3) {
    height: 100vh;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3f51b3;
}

::-webkit-scrollbar-thumb {
    background: #e6e5e5;
    border-radius: 30px;
}

/* responsivo media query*/

@media(max-width: 480px) {
    /*geral*/
    p, input, textarea {
        font-size: 1.2rem;
    }
    
    /*navbar*/
    .navbar-logo {
        display: none;
    }
    
    .navbar-img {
        top: 9px;
    }
    
    .navbar-menu {
        margin-top: 1.1rem;
    }
    
    /*banner*/
    .main-banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }
    
    .banner-info {
        width: 60%;
    }
    
    .banner-info p {
        margin: 0;
        width: auto;
    }
    
    /* about */
    .about-section {
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;
    }
    
    /* skills */
    .skills-section {
        margin-top: -35px;
        width: 90%;
    }
    
    .skills-section .container {
        flex-direction: column;
    }
    
    .skills-container .skills-title, .skills-container .subtitle {
        font-size: 1.3rem;
    }
    
    .skills-container {
        padding: 25px;
    }
    
    .skills-container .central {
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
    }
    
    /*jobs*/
    .jobs-section .jobs-title, .jobs-section p {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .job-container {
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .job-box {
        margin-bottom: 2rem;
        flex: 1 1 300px;
    }
    
    /*footer*/
    .footer {
        padding: 50px 15px;
    }
    
    .footer .footer-form {
        width: 100%;
    }
    
    .detail {
        margin-top: 10px;
        display: block;
    }
}
